<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Music Genre Classification(Jazz, Pop and Rock) using Audio Spectrogram Images</div>
    <p style = "font-size:25px;">
	Training Model : Residual Network(ResNet - Microsoft Research)<br>
	Algorithm : Convolutional Neural Networks<br>
	DL Framework : Pytorch<br>
	Accuracy : 92%
      <!--Use audio files of <strong>Jazz, Pop and Rock </strong>  songs.-->
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='audio/*'
               onchange='showPicked(this)'>
      </div>
	<div>
      		<button class='choose-file-button' type='button' onclick='showPicker()'>Select audio</button>
		<label style = "font-size:18px;" id='upload-label'>*No file chosen*</label>
		<p style = "font-size:20px;">
			(Use of .wav file is recommended. Do not use .mp3 as it is depricated.)
		</p>
	</div>

	<div>
		<button id='choose_long_cool_button' class='analyze-button' type='button' onclick='choose_long_cool()'>(Select sample <strong>ROCK</strong> song)<br>Long Cool Woman</button>
		<button id='choose_when_u_are_smiling_jazz' class='analyze-button' type='button' onclick='choose_smiling_jazz_song()'>(Select sample <strong>JAZZ</strong> song)<br>When you are smiling
		</button>
	</div>

	<div>
		<!--
		<audio controls>
			<source src="https://drive.google.com/uc?export=download&id=13z1ARIH3vq-t5mHvFtNzpn1EefGMZgqO" >	
			Your browser does not support the audio tag.
		</audio>
		-->
		
		<audio 	class='audio_tag' src="https://drive.google.com/uc?export=download&id=13z1ARIH3vq-t5mHvFtNzpn1EefGMZgqO" controls>
  			Your browser does not support the &lt;audio&gt; tag. 
  			
		</audio>

		<audio 	class='audio_tag' src="https://drive.google.com/uc?export=download&id=1-t0KXuUuSsgV_t329d6I087Fm3hPrRj0" controls>
  			Your browser does not support the &lt;audio&gt; tag. 
  			
		</audio>
		
	</div>

      <div class='analyze'>
        <button id='spectrogram-button' class='analyze-button' type='button' onclick='genSpectrogram()'>Generate Spectrogram</button>
	<p style = "font-size:17px;">
      		Sampling Rate : 22000Hz<br>
		Spectrogram Type : LOG<br>
		X-Axis : Time<br>
		Y-axis : Log<br>
    	</p>
	
	<div>
		<img id='image-picked' src="" height='400'>
      	</div>

      </div>

	<div class='analyze'>
		<button id='mel-button' class='analyze-button' type='button' onclick='genMel()'>Generate MEL Spectrogram</button>
		<p style = "font-size:17px;">
      		Sampling Rate : 22000Hz(22KHz)<br>
		Mel bands(n_mels) : 128<br>
		Highest frequency(fmax) : 8000<br>
		X-Axis : Time<br>
		Y-axis : Log<br>
    		</p>
	</div>
      
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Classify using ResNet (Transfer Learning)</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
